<a href="https://colab.research.google.com/github/anmaxwell/UniNotebooks/blob/master/assessmentB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To develop a classifier with Convolutional Neural Networks, we need to follow the following steps:
1. We then need to split the data into training and testing and extract features. 
2. Then we need to define the architecture of the convolutional neural network.
3. Then we need to train the model, and finally,
4. Evaluate it.

In [0]:
import pandas as pd

In [0]:
#read data into a dataframe

In [0]:
df = pd.read_csv('agr_en_train.csv', names=['unique_id','text','aggression-level'], sep=',')

In [9]:
df.head()

                     unique_id  ... aggression-level
0  facebook_corpus_msr_1723796  ...              OAG
1   facebook_corpus_msr_466073  ...              NAG
2  facebook_corpus_msr_1493901  ...              OAG
3   facebook_corpus_msr_405512  ...              OAG
4  facebook_corpus_msr_1521685  ...              NAG

[5 rows x 3 columns]

In [10]:
#check sze of df
df.shape

(11999, 3)

In [11]:
#remove the unique_ID column
df.drop(df.columns[[0]], axis=1)

                                                    text aggression-level
0      Well said sonu..you have courage to stand agai...              OAG
1      Most of Private Banks ATM's Like HDFC, ICICI e...              NAG
2         Now question is, Pakistan will adhere to this?              OAG
3      Pakistan is comprised of fake muslims who does...              OAG
4      ??we r against cow slaughter,so of course it w...              NAG
...                                                  ...              ...
11994  They belong to you flight dirty terrorist coun...              OAG
11995  Really motivating programme, congratulations t...              NAG
11996                                    fabricated news              OAG
11997               What's wrong with you secular idiots              OAG
11998  Looks like inevitable after all political hard...              NAG

[11999 rows x 2 columns]

In [14]:
#check for missing values
df.isna().values.any()

False

In [18]:
df.describe(include='all')

                          unique_id  ... aggression-level
count                         11999  ...            11999
unique                        11999  ...                3
top     facebook_corpus_msr_2379896  ...              NAG
freq                              1  ...             5051

[4 rows x 3 columns]

In [19]:
df['aggression-level'].value_counts()

NAG    5051
CAG    4240
OAG    2708
Name: aggression-level, dtype: int64

In [24]:
df.hist()

ValueError: ignored