<a href="https://colab.research.google.com/github/anmaxwell/UniNotebooks/blob/master/assessmentB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To develop a classifier with Convolutional Neural Networks, we need to follow the following steps:
1. We then need to split the data into training and testing and extract features. 
2. Then we need to define the architecture of the convolutional neural network.
3. Then we need to train the model, and finally,
4. Evaluate it.

In [0]:
import pandas as pd

In [0]:
#read data into a dataframe

In [0]:
df = pd.read_csv('agr_en_train.csv', names=['unique_id','text','aggression-level'], sep=',')

In [0]:
df.head()

                     unique_id  ... aggression-level
0  facebook_corpus_msr_1723796  ...              OAG
1   facebook_corpus_msr_466073  ...              NAG
2  facebook_corpus_msr_1493901  ...              OAG
3   facebook_corpus_msr_405512  ...              OAG
4  facebook_corpus_msr_1521685  ...              NAG

[5 rows x 3 columns]

In [0]:
#check sze of df
df.shape

(11999, 3)

In [0]:
#remove the unique_ID column
df.drop(df.columns[[0]], axis=1)

                                                    text aggression-level
0      Well said sonu..you have courage to stand agai...              OAG
1      Most of Private Banks ATM's Like HDFC, ICICI e...              NAG
2         Now question is, Pakistan will adhere to this?              OAG
3      Pakistan is comprised of fake muslims who does...              OAG
4      ??we r against cow slaughter,so of course it w...              NAG
...                                                  ...              ...
11994  They belong to you flight dirty terrorist coun...              OAG
11995  Really motivating programme, congratulations t...              NAG
11996                                    fabricated news              OAG
11997               What's wrong with you secular idiots              OAG
11998  Looks like inevitable after all political hard...              NAG

[11999 rows x 2 columns]

In [0]:
#check for missing values
df.isna().values.any()

False

In [0]:
df.describe(include='all')

                          unique_id  ... aggression-level
count                         11999  ...            11999
unique                        11999  ...                3
top     facebook_corpus_msr_2379896  ...              NAG
freq                              1  ...             5051

[4 rows x 3 columns]

In [0]:
df['aggression-level'].value_counts()

NAG    5051
CAG    4240
OAG    2708
Name: aggression-level, dtype: int64

In [0]:
!pip install scattertext

Collecting scattertext
  Downloading https://files.pythonhosted.org/packages/bc/e3/73a568d0cfe48f8b58406626ac1faa1335bb6b39b92bc717354c248d3621/scattertext-0.0.2.59-py3-none-any.whl (6.8MB)
     |████████████████████████████████| 6.8MB 1.3MB/s
Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (from scattertext) (0.10.2)
Collecting mock
  Downloading https://files.pythonhosted.org/packages/cd/74/d72daf8dff5b6566db857cfd088907bb0355f5dd2914c4b3ef065c790735/mock-4.0.2-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from scattertext) (1.18.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from scattertext) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from scattertext) (1.12.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from scattertext) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from scattertext) (0.25.3)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->scattertext) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->scattertext) (0.14.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->scattertext) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->scattertext) (2018.9)
Installing collected packages: mock, scattertext
Successfully installed mock-4.0.2 scattertext-0.0.2.59

In [0]:
import scattertext as st