<a href="https://colab.research.google.com/github/anmaxwell/UniNotebooks/blob/master/assessmentB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To develop a classifier with Convolutional Neural Networks, we need to follow the following steps:
1. We then need to split the data into training and testing and extract features. 
2. Then we need to define the architecture of the convolutional neural network.
3. Then we need to train the model, and finally,
4. Evaluate it.

In [1]:
!pip install scattertext

Requirement already satisfied: scattertext in /usr/local/lib/python3.6/dist-packages (0.0.2.59)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from scattertext) (1.4.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (from scattertext) (0.10.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from scattertext) (0.25.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from scattertext) (1.18.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from scattertext) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from scattertext) (1.12.0)
Requirement already satisfied: mock in /usr/local/lib/python3.6/dist-packages (from scattertext) (4.0.2)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->scattertext) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->scattertext) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->scattertext) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->scattertext) (0.14.1)

In [0]:
import pandas as pd
import scattertext as st
import spacy

from scattertext import CorpusFromPandas, produce_scattertext_explorer

In [0]:
#read data into a dataframe
df = pd.read_csv('agr_en_train.csv', names=['unique_id','text','aggression-level'], sep=',')

In [4]:
#remove the unique_ID column
df.drop(df.columns[[0]], axis=1)

                                                    text aggression-level
0      Well said sonu..you have courage to stand agai...              OAG
1      Most of Private Banks ATM's Like HDFC, ICICI e...              NAG
2         Now question is, Pakistan will adhere to this?              OAG
3      Pakistan is comprised of fake muslims who does...              OAG
4      ??we r against cow slaughter,so of course it w...              NAG
...                                                  ...              ...
11994  They belong to you flight dirty terrorist coun...              OAG
11995  Really motivating programme, congratulations t...              NAG
11996                                    fabricated news              OAG
11997               What's wrong with you secular idiots              OAG
11998  Looks like inevitable after all political hard...              NAG

[11999 rows x 2 columns]

In [5]:
#check for missing values
df.isna().values.any()

False

In [6]:
#count the occurences of each level of aggression
df['aggression-level'].value_counts()

NAG    5051
CAG    4240
OAG    2708
Name: aggression-level, dtype: int64

In [0]:
#prepare the data??
nlp = spacy.load('en')
df['parsed'] = df.text.apply(nlp)
corpus = st.CorpusFromParsedDocuments(df, category_col='aggression-level', 
                                      parsed_col='parsed').build().remove_terms(nlp.Defaults.stop_words, ignore_absences=True)

In [0]:
freq_df = corpus.get_term_freq_df()
oag_df = freq_df.sort_values(by=['OAG freq'], ascending=False)
nag_df = freq_df.sort_values(by=['NAG freq'], ascending=False)
cag_df = freq_df.sort_values(by=['CAG freq'], ascending=False)

In [9]:
oag_df.head(10)

          OAG freq  NAG freq  CAG freq
term
u              420       313       466
india          396       616       493
people         372       357       554
like           317       315       337
indian         279       350       327
do n't         220       178       316
bjp            218       188       357
pakistan       189       215       141
country        182       158       239
muslims        178        32       115

In [10]:
nag_df.head(10)

        OAG freq  NAG freq  CAG freq
term
india        396       616       493
people       372       357       554
good          80       355       189
indian       279       350       327
like         317       315       337
u            420       313       466
of the       142       279       202
&            165       270       155
in the       171       254       209
time         148       248       200

In [11]:
cag_df.head(10)

        OAG freq  NAG freq  CAG freq
term
people       372       357       554
india        396       616       493
u            420       313       466
bjp          218       188       357
like         317       315       337
indian       279       350       327
do n't       220       178       316
ðŸ˜‚            124       154       314
modi         125       205       288
money        112       210       242