<a href="https://colab.research.google.com/github/anmaxwell/UniNotebooks/blob/master/Scattertext.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install scattertext

In [0]:
import pandas as pd
import scattertext as st
import spacy

from scattertext import CorpusFromPandas, produce_scattertext_explorer

In [0]:
nlp = spacy.load('en')

In [0]:
df = pd.read_csv('agr_en_train.csv', names=['unique_id','text','aggression-level'], sep=',')

In [0]:
df['parsed'] = df.text.apply(nlp)

In [0]:
corpus = st.CorpusFromParsedDocuments(df, category_col='aggression-level', parsed_col='parsed').build().remove_terms(nlp.Defaults.stop_words, ignore_absences=True)

In [0]:
new_df = corpus.get_term_freq_df()

In [14]:
new_df.head()

           OAG freq  NAG freq  CAG freq
term
said             53       108        92
sonu             69         0        44
well said         3        14        13
said sonu         2         0         1
courage           3         2         9

In [20]:
oag_df = new_df.sort_values(by=['OAG freq'], ascending=False)
oag_df.head(10)

          OAG freq  NAG freq  CAG freq
term
u              420       313       466
india          396       616       493
people         372       357       554
like           317       315       337
indian         279       350       327
do n't         220       178       316
bjp            218       188       357
pakistan       189       215       141
country        182       158       239
muslims        178        32       115

In [21]:
nag_df = new_df.sort_values(by=['NAG freq'], ascending=False)
nag_df.head(10)

        OAG freq  NAG freq  CAG freq
term
india        396       616       493
people       372       357       554
good          80       355       189
indian       279       350       327
like         317       315       337
u            420       313       466
of the       142       279       202
&            165       270       155
in the       171       254       209
time         148       248       200

In [22]:
cag_df = new_df.sort_values(by=['CAG freq'], ascending=False)
cag_df.head(10)

        OAG freq  NAG freq  CAG freq
term
people       372       357       554
india        396       616       493
u            420       313       466
bjp          218       188       357
like         317       315       337
indian       279       350       327
do n't       220       178       316
ðŸ˜‚            124       154       314
modi         125       205       288
money        112       210       242